<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Boot CRUD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<a th:href="${'/level/new'}">NUEVA OPCIÓN</a>


<div class="container">


    <div th:if="${not #lists.isEmpty(levels)}">
        <h1>Lista De Opciones</h1>


        <form th:action="@{/level/new}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">NUEVA LEVEL</button>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Nombre</th>

                <!--
                <th>Delete</th>
                -->
            </tr>
            <tr th:each="level : ${levels}">
                <td th:text="${level.nombre_level}"></td>
                <td><a th:href="${'/level/' + level.id}">Mostrar</a></td>
                <td><a th:href="${'/level/edit/' + level.id}">Editar</a></td>
                <td><a th:href="${'/level/delete/' + level.id}">Eliminar</a></td>

                <!--
                <td><a th:href="${'/choice/delete/' + choice.id}">Delete</a></td>
                -->
            </tr>
        </table>

        <a th:href="${'/admin/home'}">Volver menu principal</a>

    </div>
</div>
</body>
</html>