<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Detalle del pedido</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <button class="btn btn-md btn-warning btn-block" type="Submit">Detalle del pedido</button>
    <table class="table table-striped">

        <tr>
            <th> Nro pedido </th>
            <th> Direccion </th>
            <th> Restaurante </th>
            <th> Plato </th>
            <th> Nivel de Restaurante </th>
        </tr>

        <tr>
            <td th:text="${pedido.id}">   </td>
            <td th:text="${pedido.direccion}">   </td>
            <td th:text="${pedido.category_restaurant.name}">   </td>
            <td th:text="${pedido.category_choice.nombre_Opcion}">   </td>
            <td th:text="${pedido.category_restaurant.id_level.nombre_level}">   </td>
        </tr>
    </table>
    <a th:href="${'/user/pedidos'}">Volver lista de pedidos</a>
</div>
</body>
</html>