<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Registrar restaurant </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 class="btn btn-md btn-warning btn-block" type="Submit">RESTAURANTE</h2>
    <div>
        <form class="form-horizontal" th:object="${restaurant}" th:action="@{/admin/restaurant/edited}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">latitud :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{latitudRestaurant}"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">longitud:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{longitudRestaurant}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">direccion:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{address}"/>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Descripción:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Teléfono:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{phone}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Celular:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{cell}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Ciudad :</label>
                <div class="col-sm-10">
                    <select th:field="*{id_city_rest}">
                        <option th:each="id_city_rest : ${cities}"
                                th:value="${id_city_rest.id}"
                                th:text="${id_city_rest.nombre_ciudad}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Level :</label>
                <div class="col-sm-10">
                    <select th:field="*{id_level}">
                        <option th:each="id_level : ${levels}"
                                th:value="${id_level.id}"
                                th:text="${id_level.nombre_level}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Registrar</button>
            </div>
        </form>
    </div>
    <a th:href="${'/admin/restaurants'}">Volver vista de restaurantes</a>

</div>
</body>
</html>